

    *{
        font-family: 'Roboto'
    }
    
    body{
        background-color: #017bab;
        height: 500px;
    }
    header{
        display: flex;
        margin-left: 23%;
    }
    ul {
        list-style: none;
      
    }
    .usuario-header{ 
       
        display:flex; 
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        left: 55%;
    }
    .perfil{
      display: flex;
      align-items: center;
      margin-left: 72%;                           
    }
    .Cerrar{
        margin-left: -10%;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: green;
    }
    .sidebar {
        
        margin-right: 80%;
        margin-top: -6%; 
        border: 2px rgb(0, 0, 0) solid;
        background-color: white;
    
         
    }
    .opciones{
        display: flex;
        justify-content: center;
        margin-left: -15%;
        padding: 10% 20%; 
        
      
    }
    #favoritos{
        
        background-color: rgb(189, 189, 189);
    }
    .opciones:hover{
        color: green;
        font-size: x-large;
    }
    .opciones{
        border-bottom: 2px rgb(0, 0, 0) solid;
    }
    .informacion{
        display: flex;
        margin-left: 2%;
        margin-right: 80%;
        flex-direction: column;
    }
    .contenedor-informacion{
        display: grid;
        color: black;
        border-radius: 10px;
        position: relative;
        width: 19.7%;
        font-size: 15px; 
    }
    .imagenInfo{
        position: relative;
        right: 11%;
        width: 560%;
    }
    img { 
        width: 90%;
    }
    .txt-p{ 
        display: flex;
        position: relative;
        width: 550%;
       
        text-align: justify;
        right: 10%;
    }
    footer{
        color: aliceblue;
     
       background-color: black;
    }
    .contenedor-alumno{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }
    .reproductor{
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;
    }
    
    .Canciones{
        display: grid;
        grid-template-columns: 12% 30% 30% 8% 20%;
        position: absolute ;
        grid-row-gap: 1px;
        grid-column-gap: 1px;
        bottom: 1%;
        top: 15%;
        left: 20%;  
        justify-content: center;
        margin-left: 1%; 
        border: 1px black solid; 
        overflow-y: auto;
        width: 80%;
        
    }
    
    .cancion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    
    }
    .cancion img{
        width: 10%;
        height: 10%;
        
        
    }
    .play{
        width: 55%;
        
    } 
    section{
        background-color: gray;
        
    }
    article{
        background-color: white;
        padding: 10px; 
        
    }
    


.cancion img{
    width: 10%;
    height: 10%;
    
    
}
.play{
    width: 55%;
    
} 
section{
    background-color: gray;
    
}
article{
    background-color: white;
    padding: 10px; 
}
.estrella0{
    position: absolute;
    left: 80%;
    top: 2%;
    width: 18%;
    
}
@media screen and (max-width:980px) {
    .Canciones{
        position: absolute;
        top: 52%;
        bottom: -49%;
        margin-left: -18%;
       
    }
    .reproductor{
        position: absolute;
        top: 155%;
    }
    footer{
        position: absolute;
        top: 165%;
        width: 100%;
    }
    .informacion{
        flex-direction: row;
        margin-left: 230%;
        margin-right: -400%;
        margin-top: -10%;
        align-items: center;
        
    }
    .imagenInfo{
        width: 55%;
        height: 55%;
    }
    .sidebar{
        position: absolute;
        top: 17%;
        width: 30%;
    }
    .usuario-header{
        left: 35%;
    }
    .estrella0{
        position: absolute;
        left: 260%;
        top: 20%;
    }
    
    
}
@media screen and (max-width:870px){
    .estrella0{
        position: absolute;
        left: 280%;
        top: 20%;
    }
}

@media screen and (max-width:752px){
    .titulo-header{
        position: absolute;
        left: 3%;
    }
    .Canciones{
        position: absolute;
        top: 90%;
        bottom: -49%;
        margin-left: -10%;
    }
    .informacion{
        margin-top: 230%;
        margin-left: 90%;
        margin-right: -350%;
        
    }
    .estrella0{
        position: absolute;
        left: 120%;
        top: 65%;
        width: 35%;
    }
    .sidebar{
        position: absolute;
        top: 17%;
        width: 50%;
        left: 20%;
    }
    .reproductor{
        width: 98%;
    }
    footer{
        left: 0%;
    }
}
@media screen and (max-width:615px){
    .estrella0{
        position: absolute;
        left: 150%;
        top: 65%;
        width: 35%;
    }
}
@media screen and (max-width:600px){
    .informacion{
        margin-top: 230%;
        margin-left: 70%;
        margin-right: -290%;     
    }
    .Canciones{
        position: absolute;
        top: 100%;
        bottom: -49%;
        margin-left: -10%;
    }
    .estrella0{
        position: absolute;
        left: 160%;
        top: 62%;
        width: 35%;
    }
}
@media screen and (max-width:515px){
    .informacion{
        margin-top: 230%;
        margin-left: 50%;
        margin-right: -220%;
    }
    .Canciones{
        position: absolute;
        top: 110%;
        bottom: -49%;
        margin-left: -10%;
    }
    .usuario-header{
        left: 15%;
    }
    .estrella0{
        position: absolute;
        left: 180%;
        top: 59%;
        width: 50%;
    }
}




