

    *{
        font-family: 'Roboto'
    }
    
    body{
        background-color: #017bab;
        width: auto;
        position: relative;
        padding-bottom: 20%;
    }
    header{
        display: flex;
        margin-left: 23%;
    }
    ul {
        list-style: none;
      
    }
    .usuario-header{ 
       
        display:flex; 
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        left: 50%;
    }
    .perfil{
      display: flex;
      align-items: center;
      margin-left: 72%;                           
    }
    .Cerrar{
        margin-left: -10%;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: green;
    }
    .sidebar {
        
        margin-right: 80%;
        margin-top: -6%; 
        border: 2px rgb(0, 0, 0) solid;
        background-color: white;
    
         
    }
    .opciones{
        display: flex;
        justify-content: center;
        margin-left: -20%;
        padding: 10% 20%;
        
      
    }
    #favoritos{
       
        background-color: rgb(189, 189, 189);
    }
    .opciones:hover{
        color: green;
        font-size: x-large;
    }
    .opciones{
        border-bottom: 2px rgb(0, 0, 0) solid;
    }
    .informacion{
        display: flex;
        margin-left: 2%;
        margin-right: 80%;
        flex-direction: column;
    }
    .contenedor-informacion{
        display: grid;
        color: black;
        border-radius: 10px;
        position: relative;
        width: 19.7%;
        font-size: 15px; 
    }
    .imagenInfo{
        position: relative;
        right: 11%;
        width: 560%;
    }
    img { 
        width: 90%;
    }
    .txt-p{ 
        display: flex;
        position: relative;
        width: 550%;
       
        text-align: justify;
        right: 10%;
    }
    footer{
        color: aliceblue;
       position: absolute;
       bottom: 0;
       background-color: black;
       width: 100%;
    }
    .contenedor-alumno{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
    }
    .reproductor{
        width: 100%;
        border: 2px solid black;
        border-radius: 5px;
        position: absolute;
        bottom: 15%;
    }
    
    .Canciones{
        display: grid;
        grid-template-columns: 12% 30% 30% 8% 18%;
        position: absolute ;
        grid-row-gap: 1px;
        grid-column-gap: 1px;
        bottom: 22%;
        left: 20%;  
        justify-content: center;
        margin-left: 1%; 
        border: 1px black solid; 
        overflow-y: auto;
        width: auto;
        
    }
    
    .cancion{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    
    }
    .cancion img{
        width: 10%;
        height: 10%;
        
        
    }
    .play{
        width: 55%;
        
    } 
    section{
        background-color: gray;
        
    }
    article{
        background-color: white;
        padding: 10px; 
        
    }
    


.cancion img{
    width: 10%;
    height: 10%;
    
    
}
.play{
    width: 55%;
    
} 
section{
    background-color: gray;
    
}
article{
    background-color: white;
    padding: 10px; 
}
.estrella0{
    position: absolute;
    left: 80%;
    top: 2%;
    width: 18%;
    
}
@media screen and (max-width:980px) {
    body{
       padding-bottom: 100%; 
    }
    .Canciones{
        position: absolute;
        bottom: 18%;
        margin-left: -19%;
    }
    .reproductor{
        position: absolute;
        bottom: 10%; 
        width: 99%;
    }
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .informacion{
        flex-direction: row;
        margin-left: 210%;
        margin-right: -390%;
        margin-top: -10%;
        align-items: center;
        
    }
    .imagenInfo{
        width: 55%;
        height: 55%;
    }
    .sidebar{
        position: absolute;
        top: 12%;
        width: 25%;
    }
    .usuario-header{
        left: 35%;
    }
    .estrella0{
        position: absolute;
        left: 260%;
        top: 20%;
    }
    h1{
        font-size: 25px;   
    }
    .foto-usuario{
        position: relative;

    }
    
}
@media screen and (max-width:870px){
    .estrella0{
        position: absolute;
        left: 250%;
        top: 20%;
    }
}

@media screen and (max-width:752px){
    .titulo-header{
        position: absolute;
        left: 3%;
    }
    .Canciones{
        position: absolute;
        bottom: 17%;
        margin-left: -19.5%;
        width: 99%;
    }
    .informacion{
        margin-top: 260%;
        margin-left: 90%;
        margin-right: -350%;
        
    }
    .estrella0{
        position: absolute;
        left: 120%;
        top: 70%;
        width: 35%;
    }
    .sidebar{
        position: absolute;
        top: 10%;
        width: 50%;
        left: 20%;
    }
    .reproductor{
        width: 98%;
    }
    footer{
        left: 0%;
    }
    body{
        padding-bottom: 110%;
    }
    .opciones{
        margin-left: -11.5%;
    }
}
@media screen and (max-width:710px){
    body{
        padding-bottom: 120%;
    }
}
@media screen and (max-width:660px){
    body{
        padding-bottom: 140%;
    }
    .estrella0{
        position: absolute;
        left: 130%;
        top: 66%;
        width: 35%;
    }
    .opciones{
        margin-left: -12.5%;
    }
    
}
@media screen and (max-width:615px){
    .estrella0{
        position: absolute;
        left: 150%;
        top: 65%;
        width: 35%;
    }
    footer{
        width: 100%;
    }
    body{
        padding-bottom: 160%;
    }
    .opciones{
        margin-left: -13.5%;
    }
    .informacion{
        margin-top: 350%;
    }
    
}
@media screen and (max-width:600px){
    .informacion{
        
        margin-right: -300%;     
    }
    
    .estrella0{
        position: absolute;
        left: 170%;
        top: 65%;
        width: 35%;
    }
    footer{
        width: 100%;
    }
}
@media screen and (max-width:552px){
    body{
        padding-bottom: 180%;
    }
    .estrella0{
        position: absolute;
        left: 190%;
        top: 65%;
        width: 35%;
    }
    .opciones{
        margin-left: -15%;
    }
    
}
@media screen and (max-width:515px){
    
    body{
        padding-bottom: 180%;
    }
    .usuario-header{
        left: 45%;
    }
    .estrella0{
        position: absolute;
        left: 330%;
        top: 52%;
        width: 50%;
    }
    footer{
        width: 100%;
    }
    header img{
        display: none;
    }
    .informacion{
        margin-left: 135%;
        margin-top: 300%;
    }
    .txt-p{
       display: none;
    }
    .imagenInfo{
        width: 200%;
    }
    .opciones{
        margin-left: -16%;
    }
    
    
}
@media screen and (max-width:490px){
    body{
        padding-bottom: 200%;
    }
    .opciones{
        margin-left: -18%;
    }
    
}
@media screen and (max-width:450px){
    body{
        padding-bottom: 220%;
    }
    .opciones{
        margin-left: -18%;
    }
    
}
@media screen and (max-width:410px){
    body{
        padding-bottom: 240%;
    }
    .opciones{
        margin-left: -21%;
    }
    .usuario-header{
        left: 30%;
    }

    
}
@media screen and (max-width:381px){
    body{
        padding-bottom: 280%;
    }
    .opciones{
        margin-left: -22%;
    }
    .informacion{
        margin-top: 350%;
    }
    .estrella0{
        position: absolute;
        left: 330%;
        top: 55%;
        width: 50%;
    }
    
}
@media screen and (max-width:355px){
    body{
        padding-bottom: 320%;
    }
    .opciones{
        margin-left: -25%;
    }
    .informacion{
        margin-top: 390%;
    }
    .estrella0{
        position: absolute;
        left: 330%;
        top: 55%;
        width: 50%;
    }
    
}
@media screen and (max-width:313px){
    body{
        padding-bottom: 340%;
    }
    .opciones{
        margin-left: -28%;
    }
    .informacion{
        margin-top: 410%;
    }
    .estrella0{
        position: absolute;
        left: 330%;
        top: 55%;
        width: 50%;
    }
    .usuario-header{
        left: 20%;
    }
    
}




