@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


*{
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
nav{
    text-decoration: none;
    height: 100px;
    background: #017bab;

    
    
}


ul.nav-inicio{
    float: right;
    margin-right: 10px;
    margin-top: 30px;
    
}

a.nom{
    color: white;
    font-size: 20px;
    font-style: bold;
}
.foto-usuario{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.container-planes{
    display: grid;
    grid-template-columns: repeat(3,400px);
    grid-gap: 50px;
    justify-content: center;
    margin: 100px;
    

}

.container-plan{
    background-color: rgb(212, 212, 212);
    border-radius: 10px;
    color: black;
    padding: 20px;
    font-size: 100%;
    margin: 5px;
    height: 450px;
    
}

.foto-plan{
    float: left;
    margin-right: 10px;
    margin-top: 10px;

}



.titulos-planes{
    font-size: 25px;
    height: 30px;
    display: flex;
    justify-items: center;
    justify-content: center;
    font-style: bold;
}

.boton-elegir-plan{
    height: 80px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.boton-pago{
    font-size: 20;
    padding:15px 25px;
    color: black;
    border: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 8px;
    background:  rgb(212, 212, 212);

}
.btn-final{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-gap: 120px;
    margin: 30px;
    align-content: end;
    justify-content: center;
    align-items: end;
    justify-items: center;
    
    
}
    

.tituloh2{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
.contenedor-alumno{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.titulos-precio{
    font-size: 30px;
    text-align: center;
    
}
.Img-Plan{
    width: 150px; 
    height:150px;
}
@media screen and (max-width:980px){
    .container-planes{
        display: grid;
        grid-template-columns: repeat(1,80%);
        grid-gap: 50px;
        justify-content: center;      
    }
    
    
}
@media screen and (max-width:752px){
    .container-planes{
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-gap: 50px;
        justify-content: center;      
    }
}
@media screen and (max-width:575px){
    .container-planes{
        display: grid;
        grid-template-columns: repeat(1,150%);
        grid-gap: 50px;
        justify-content: center;      
    }
}